/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
body{
    background-color: #353535;
}
html {
    scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.navbar {
    background: #353535;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ffffff;
    /* background-image: linear-gradient(to top,#ff0844 0%, #ffb199 100%); */
    background-size: 80%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 800;
}

#navbar__logo:hover {
    background-color: #6699CC;
    /* background-image: linear-gradient(to top,#ff0844 0%, #ffb199 100%); */
    transition: all 0.5s ease;
}



.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}


.navbar__links {
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0px 1rem;
    height: 100%;

}

.navbar__links:hover {
    color: #6699CC;
    transition: all 0.3s ease;
}



.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero-content {
    position: relative;
    z-index: 1;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}

.hero-section h1 {
    font-size: 3rem;
}

.hero-section p {
    font-size: 1.2rem;
}

@media screen and (max-width: 960px) {
    .hero-content {
        margin-left: 10%;
        margin-right: 10%;
    }
    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1rem;
    }
}


.page-hero {
    position: relative;
    overflow: hidden;
}

/* Hero Section */

.hero-cta {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #003366;
    /* Deep Blue for primary action */
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;

}

.hero-cta:hover {
    background-color: #6699CC;
    color: #003366;
    cursor: pointer;
}

.hero-cta-accent {
    background-color: #33CCCC;
    /* Teal for accent CTA */
    /* Rest of the styles are the same */
}

.hero-cta-accent:hover {
    background-color: #6699CC;
    color: #003366;
}

.main {
    position: relative;

    background-color: #29282800;
    /* background: #1d1d1d85; */

}

.outer {
    overflow-x: hidden;
}

.slider {
    display: flex;
    width: 500vw;
}

.scroll-view-section {
    height: 100%;
    width: 100%;
    margin: 2em;
    .inner {
        margin: 7em 0;
        display: flex;
        height: calc(100% - 14em);
        align-items: center;
        color: white;
        h2{
            text-transform: uppercase;
            text-align: left;
            align-items: flex-end;
        }
        
        .scroll-section-video {
            height: 100%;
            width: 100%;
            max-width: 700px;
            border: 5px solid white; /* Adjust the border size and color as needed */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for better visibility */
            border-radius: 10px; /* Optional: Add rounded corners */
        }

        .content-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            height: 100%;
            width: 100%;
            text-align: left;
            padding: 0 20px;
            

            h1 {
                font-size: 4rem;
                margin-bottom: 20px;
                
            }
            h2{
                font-size: 2rem;
                margin-bottom: 20px;
            }
            p {
                font-size: 1.2rem;
                /* Adjust font size as needed */
                line-height: 1.6;
                margin-bottom: 20px;
                max-width: 80%;
                text-align: center;
                /* Ensure text doesn't stretch too wide */
            }
        }

    }
}

.squiggly-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    img {
        position: absolute;
        opacity: 0.2;
        transform: scale(.3) rotate(10deg);

        &:nth-of-type(1) {
            top: 10%;
            left: 60%;
            transform: scale(.6) rotate(10deg);
        }

        &:nth-of-type(2) {
            top: 80%;
            left: 40%;
            transform: scale(.1) rotate(10deg);
        }

        &:nth-of-type(3) {
            top: 60%;
            left: 90%;
            transform: scale(.1) rotate(10deg);
        }

        &:nth-of-type(4) {
            top: 70%;
            left: 5%;
            transform: scale(.2) rotate(10deg);
        }

        &:nth-of-type(5) {
            top: 20%;
            left: 15%;
            transform: scale(.7) rotate(10deg);
        }

        &:nth-of-type(6) {
            top: 40%;
            left: 80%;
            transform: scale(.2) rotate(10deg);
        }

        &:nth-of-type(7) {
            top: 63%;
            left: 67%;
            transform: scale(.2) rotate(10deg);
        }

        &:nth-of-type(8) {
            top: 7%;
            left: 26%;
            transform: scale(.8) rotate(10deg);
        }

        &:nth-of-type(9) {
            top: 16%;
            left: 92%;
            transform: scale(.2) rotate(10deg);
        }

        &:nth-of-type(10) {
            top: 53%;
            left: 44%;
            transform: scale(.2) rotate(10deg);
        }


    }

}

@media screen and (max-width: 400px) {
}
@media screen and (max-width: 960px) {
    .contact-us-section{
        font-size: 0px;
    }
    .slider{
        flex-direction: column;
        width: 100%;
    }
    
    .scroll-view-section {
        height: 100%;
        width: 100%;
        margin: 0;
        .inner {
            display: flex;            
            flex-direction: column;
            height: 100%;
            width: 100%;            
            align-items: center;
            color: white;
            margin-top: 25%;
            h2{
                text-transform: uppercase;
                text-align: center;
            }
            .scroll-section-video {
                height: 100%;
                width: 100%;
                max-height:200px ;
                max-width: 350px;
                border: 5px solid white; /* Adjust the border size and color as needed */
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for better visibility */
                border-radius: 10px; /* Optional: Add rounded corners */
            }
    
            .content-section {
                margin-top: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width:100%;
                text-align: center;
                padding-bottom: 10px;
                
    
                
                h2{
                    font-size: 1.5rem;
                }
                p {
                    font-size: .8rem;
                    /* Adjust font size as needed */
                    line-height: 1.6;
                    margin-bottom: 20px;
                    max-width: 80%;
                    /* Ensure text doesn't stretch too wide */
                }
                .hero-cta-content{
                    font-size: .8rem;
                }
                .hero-cta-content-accent{
                    display: none;
                }
            }
    
        }
    }

}

.contact-us-section{
 color: white;
 padding-bottom: 40px;
    text-align: center;
    /* Centers the text */
    width: 100%;
    font-size: 2rem;
}
@media screen and (max-width: 960px) {
    .contact-us-section{
        font-size: 1rem;
    }
}


video[poster] {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }


    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
        margin-right: 2rem;
        font-size: 1.6rem;
    }


    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ffff;
    }

    .navbar__toggle .bar:hover {
        background: #6699CC;
        transition: all 0.3s ease;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media screen and (max-width: 300px) {
    #navbar__logo {
        padding-left: 25px;
        margin-right: 2rem;
        font-size: 1rem;
    }
}










/* ----------Book a Demo Section------------------*/

.book__Demo {
    text-align: center;
    padding: 50px 0;
    background-color: #CCDDFF;
}

.bookdemo__container {
    display: inline-block;
    position: relative;
}

.bookdemo__header {
    margin-bottom: 20px;
}

.bookdemo__header h1 {
    font-size: 2.6rem;
    color: #333;
}

.bookdemo__description {
    margin-bottom: 20px;
    margin-top: 20px;
}



/* -------------Form Modal -----------------*/

.book__Demo {
    background-color: #CCDDFF;
    padding: 20px;
    margin: auto;
    /* Center aligns the demo section */
    width: 100%;
}

.demo-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    /* Space between columns */
}

.form-column {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
}

.input-group textarea {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
}

.submit-btn {
    grid-column: 1 / -1;
    /* Span across all columns */
    display: block;
    padding: 10px 20px;
    margin: 20px auto;
    /* Centers the button horizontally */
    border-radius: 10px;
    border: none;
    background-color: #003366;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    transition: background-color 0.4s ease-in-out;
}

.submit-btn:hover {
    background-color: #6699CC;
    color: #003366;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .submit-btn {
        margin-top: 30px;
    }

    .bookdemo__header {
        text-align: left;
    }

    .bookdemo__header h1 {
        font-size: 1.8rem;
    }



    .contact-us h2,
    .contact-us p {
        margin: auto 20px;
    }


    .input-group label {
        font-size: 0.8rem;
    }

    .input-group input,
    .input-group select {
        width: 100%;
        font-size: 0.8rem;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background: #fff;
    }

    .input-group textarea {
        height: 80%;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background: #fff;
    }
}

/* COntact Us Section */

.contact-us {
    background-color: #003366;
    /* Light gray background */
    padding-bottom: 40px;
    text-align: center;
    /* Centers the text */
    width: 100%;
    /* Ensures the section doesn’t stretch too wide */
}

.contact-us h2 {
    color: white;
    /* Dark blue for heading */
    font-size: 2rem;
    padding-top: 35px;
    margin-bottom: 10px;
    font-weight: bold;
}


.contact-us p {
    font-size: 16px;
    color: #cecdcd;
    /* Dark gray for text */
}

.contact-us a {
    color: #91beeb;
    text-decoration: none;
    text-align: center;
}

.contact-us a:hover {
    text-decoration: underline;
    /* Adds underline on hover */
}

@media screen and (max-width: 700px) {
    .contact-us {
        text-align: left;
    }

    .contact-us a {
        margin-left: 20px;
    }
}